<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Kvibuk Cleaning - Главная</title>
    <link rel="stylesheet" href="assets/bundle.min.css">
    <link rel="stylesheet" href="package/css/swiper.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>  

 
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="assets/js-cod.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" charset="utf-8"></script>
<script src="assets/script.js" charset="utf-8"></script>
<script src="assets/script2.js" charset="utf-8"></script>
<script src="assets/script3.js" charset="utf-8"></script>
<script src="assets/jakor.js"></script> -->